html,
body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background: #000000 url("../img/main-background.jpg") no-repeat top center;
}

.inner-page {
  color: #000000;
  background: #f8f5f2 url("../img/main-pattern.jpg") repeat 0 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap; 
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 107px; 
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;

}

.user-navigation .login-link::before {
  content: "";

  position: absolute;
  top: 27px;
  left: 23px;
  background-image: url(../img/login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  width: 16px;
  height: 16px;
}

.user-navigation .login-link:hover::before,
.user-navigation .login-link:active::before,
.user-navigation .login-link:focus::before {
  opacity: 1;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  background-color: #242424;
}
.site-navigation,
.user-navigation {
  list-style: none;
}

.advantages-item {
  text-align: center;
  list-style: none;
}

.advantages-item h3 {
  font-size: 30px;
  line-height: 42px;
  position: relative;
  margin: 0;
  margin-bottom: 60px;
}

.advantages-item h3::after {
  position: absolute;
  content: "";
  background-image: url("../img/Shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 20px;
  height: 20px;
  bottom: -30px;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);
}

.advantages-item p {
  margin: 0 10px;

}

.index-columns {
  color: #000000;
  background-color: #f8f5f2;
  background-image: 
    url(../img/shadow.png), 
    url(../img/main-pattern.jpg);
  background-repeat: no-repeat, repeat;
  background-position: 50% 50%, 0 0;

}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  margin-bottom: 25px;
}

.news-list {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
  
}

.news-item {
  margin-bottom: 25px;
}

.news-item time {
  text-transform: none;
}

.gallery-container {
  position: relative;
  height: 260px;
}

.button-gallery-back,
.button-gallery-next {
  position: absolute;
}

.gallery-button {
  box-sizing: border-box;
  width: 140px;
}

.button-gallery-back {
  bottom: 0px;
  left: 0px;
}

.button[disabled] {
  background-color: #b0aeac;
}

.button[disabled]:hover {
  background-color: #b0aeac;
}

.button-gallery-next {
  bottom: 0;
  right: 0;
}

.gallery-content {
  margin: 0;
  background-color: #e5e5e5;
  border: 7px solid #ffffff;
  height: 164px;
}

.gallery-content img {
  height: 164px;
  width: 286px;
}

.button {
  padding: 10px 30px;
  display: inline-block;
  font: inherit;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
  
}

.contacts p {
  margin: 0;
  margin-bottom: 25px;
}

.contacts .button {
  margin-right: 16px;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #663d15;

}

.appoinment-info {
  margin: 0;
  margin-bottom: 15px;
  width: 140px;
}

.appoinment-info-title {
  margin: 0;
  margin-bottom: 25px;
}

.appoinment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appoinment-info label {
  display: block;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
}

.appoinment-info input {
  font:inherit;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #000000;
  width: 140px;
  padding: 10px 15px;
  
}

.appoinment-button {
  width: 100%;
  margin-right: 0;

}

.appoinment-info input:focus {
  border: 2px solid #663d15;
  
}

.main-footer {
  color: #ffffff;
  background: #222222 url("../img/background-footer.jpg") repeat 0 0;
}

 .footer-contacts a {
   color: #ffffff;
  text-decoration: underline;
 }

 .footer-contacts a:focus,
 .footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  text-align:center;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 43px;
  height: 43px;
  background-color: #000000;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
  fill: #000000;
}

.social-button:hover path,
.social-button:focus path{
  fill: #000000;
}

.footer-copyright b {
  display: block;
  text-align:center;
  margin-bottom: 15px;
}

.link-html-academy {
  padding: 19px 29px;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #000000;
  background-color: #ffffff;
}

.modal {
  color: #000000;
  background-color: #f8f5f2;
  background-image: url(../img/main-pattern.jpg);
  background-repeat: repeat;
  background-position: 0 0;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
}

.login-form input:focus {
  border: 2px solid #663d15;
}

.login-form .login-checkbox:focus,
.login-form .login-checkbox:hover {
  color:  #663d15;
}

.login-form a {
  color: #000000;
  text-decoration: underline;

}

.login-form a:focus,
.login-form a:hover {
  text-decoration: none;
  
}

.breadcrumbs {
  list-style:none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.breadcrumbs li {
  padding-right: 43px;
  position: relative;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%;
  right: 18px;
  margin-top: -4px;
  margin-left: -4px;
  background-color: #000000;
  transform: rotate(45deg);
}

.breadcrumbs li {
  line-height: 20px;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.breadcrumbs a{
  color: #000000;
}

.goods-filters {
  width: 220px;
  margin-right: 20px;
}

.filter legend {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 26px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border: none;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter .filter-option{
  margin-bottom: 17px;
  padding-left: 40px;
}

.filter .filter-option-radio{
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before{
  content: "";
  position: absolute;
  border: 2px solid #000000;
  width: 18px;
  height: 18px; 
  left: -40px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 5px;
  left: -35px;
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: -40px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 6px;
  left: -34px;
  background-color: #000000;
  border-radius: 50%;
}

.catalog-item a {
  display: flex;
  flex-direction: column;
  color: #000000;
}

.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
  order: 1;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.catalog-item-type {
  text-transform: none;
  display: block;
}

.catalog-item img {
  width: 220px;
  height: 165px;
  margin: 0;
}

.catalog-item-price {
  display: flex;
  padding: 0 10px;
  text-align: center;
  vertical-align: bottom;
}


.catalog-item-price b {
  font-size: 14px;
  line-height: 18px;
  width: 109px;
  padding-top: 13px;
  background-color: #e5e5e5;
}

.catalog-item-price a{
  color: #ffffff;
}

.catalog-item-price .button {
  width: 50px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 7px;
}

.pagination-item:last-child {
  margin-right: 0px;
}

.pagination-list a {
  display: block;
  text-align: center;
  
  color: #ffffff;
  background-color: #000000;
  padding: 10px 19px;
}

.current-pagination-item a {
  color: #000000;
  background-color: #ffffff;
}

.item-detalization {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.item-view-full {
  box-sizing: border-box;
  line-height: 0;
  margin-bottom: 21px;
}

.item-detalization li {
  line-height: 0;
}

.item-detalization li:not(:first-child) {
  margin-left: 20px;
}

.item-detalization img {
  width: 140px;
  height: 149px;
}

.price-table {
  border-collapse: collapse;
}

.price-table td {
  border: 2px solid #000000;
  text-align:center;
  width: 230px;
  padding: 10px;
}

.price-table td:first-child {
  text-align: left;
}

.price-table caption {
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  width: 180px;
  padding-bottom: 35px;
}

.info-list {
  list-style: none;
}

.item-info {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 33px;
  display: flex;
  justify-content: space-between;
}

.art {
  color: #b8b7b7;
}

.description {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.item-view-full {
  box-shadow: 0 0 10px 2px rgba(0 , 0, 0, 0.2);
}

.item-detalization li {
  box-shadow: 0 0 10px 2px rgba(0 , 0, 0, 0.2);
}

.buy-item {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 65px;
}

.buy-item b{
  width: 109px;
  text-align:center;
  background-color: #e5e5e5;
  padding-top: 11px;
}

.buy-item .button {
  box-sizing: border-box;
  padding: 10px 20px;
  width: 76px;
}

.item-description h3 {
  margin: 0;
  padding: 0;
}

.compose-list {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  list-style: url(../img/shapeListMarker.svg);
}

.compose-item {
  padding-left: 15px;
}

/* layer */

.main-header {
  margin-bottom: 75px;
  
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: #000000;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
}

.main-logo {
  width: 370px;
  height: 153px;
  order: 1;
}

.site-navigation {
   margin: 0;
   padding: 0;
   width: 620px;
   display: flex;
   flex-wrap: wrap;

}

.user-navigation {
  margin: 0;
  padding: 0;
  width: 140px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.advantages-item {
  width: 300px;
}

.index-columns {
  padding: 50px 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.news {
  width: 380px;
}

.gallery {
  width: 300px;
}

.contacts {
  width: 380px;
}

.appoinment {
  width: 300px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 65px;
  padding-bottom: 45px;
}

.main-footer .container{
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;
  padding: 0;

}

.footer-social {
  width: 145px;
  margin: 0;
  padding: 0;

}

.footer-copyright {
  width: 140px;
  margin-left: auto;
}

.inner-page .main-navigation {
  background-color: #000000;
}

.inner-page .main-navigation {
  margin-bottom: 55px;
}

.inner-page .main-navigation .main-logo {
  width: 111px;
  height: 24px;
  padding: 23px 20px;
  order: 0;
}

.main-navigation .user-navigation {
  margin-left: auto;
}

.inner-page .page-title {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog .catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.catalog-item {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 2px rgba(0 , 0, 0, 0.2);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.inner-page .main-footer {
  margin-top: 50px;
}

.item-view {
  width: 460px;
}

.item-description {
  width: 390px;
}

.price-lead {
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
  font-size: 48px;
  line-height: 48px;
}

.used-resourses {
  font-size: 24px;
  line-height: 30px;
  display: block;
  margin-bottom: 35px;
}

.producer-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.producer-item {
  margin-bottom: 15px;
}

.producer-item:last-child {
  margin-bottom: 0;
}

.price-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.resourses {
  width: 250px;
}

.price-table {
  width: 460px;
}

.info-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.info-item {
  width: 380px;
}